/*] Center everything [*/
body {
  max-width: 800px;
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  /* This centers all */
  margin: 0 auto;
}
/*] Style the icon [*/
.main_section-icon {
  color: rgb(51, 137, 236);
  padding-left: 1em;
}
/*] Style the button [*/
.pure-button:active {
  color: aliceblue;
  background: rgb(28, 184, 65);
}
/*] Style the paragraph [*/
p {
  max-width: 400px;
}
/*] Style everything in header [*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5em;
}
/* Align icon with button */
.main_section-buttons {
  display: flex;
  align-items: center;
}
.main_section {
  display: inline-block;
}