/*] Center everything [*/
body {
  display: grid;
  max-width: 800px;
  justify-items: center;
  font-family: "Open Sans", sans-serif;
  /* This centers all */
  margin: 0 auto;
}
/*] Style the icon [*/
.icon {
  color: rgb(51, 137, 236);
}
/*] Style the button [*/
.pure-button:active {
  color: aliceblue;
  background: rgb(28, 184, 65);
}
/*] Style the paragraph [*/
p {
  max-width: 400px;
}
header {
  display: block;
  padding-top: 5em;
}
/* Align icon with button */
.buttons {
  display: flex;
  align-items: center;
}